services:
  backend:
    build:
      context: ..
      dockerfile: docker/Dockerfile.dev
    container_name: wtw-backend-dev
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      PORT: 3000
      NODE_ENV: development
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
      DB_NAME: wtw_app
      DB_SYNCHRONIZE: "true"
    ports:
      - "3000:3000"
    depends_on:
      postgres:
        condition: service_healthy
    command: npm run start:dev

